.first-v{
    //width:100%;
    height:800px;
    display:flex;
}

.first-v-text{
    width:47%;
    height:100%;
}

.first-v-wrap{
    width:53%;
    height:100%;
    background-image: url(../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
    background-size:cover;
}

.first-v h2{
    font-size:38px;
    margin-top:296px;
    text-align: center;
    font-style: "ヒラギノ明朝 Pro";
}

.first-v p{
    //font-style: italic;
    margin-top:48px;
    font-size:38px;
    text-align: center;
}