header{
    display:flex;
    margin-top:68px;
    margin-left:7%;
    position:absolute;
    z-index:1;
    @include sp{
        width:100% - 7%;
        justify-content: space-between;
        position:static;
        margin-top:24px;
        margin-bottom:24px;
        margin-left:21px;
        align-items:center;
        font-weight:normal;
        font-size:22px;
    }
}

header h1{
    font-weight:bold;
    font-size:38px;
    letter-spacing:3.8px;
}

header ul{
    display:flex;
    text-align: left;
    margin-top:9px;
    margin-left:20px;
    height:40px;
    @include sp{
        display:none;
    }
    li{
        font-size:18px;
        height:18px;
        color:#707070;
        margin-left:12px;
        &:hover{
            color:black;
            border-bottom:1px solid black;
            font-weight: bold;
            cursor:pointer;
        }
    }
}

.fa-bars{
    display:none;
    font-size:38px;
    @include sp {
        display:flex;
        }
}