@charset "UTF-8";
.wrapper {
  overflow: hidden;
}

.title {
  font-size: 18px;
  height: 24px;
  letter-spacing: 5.4px;
  color: #707070;
}
.title:after {
  display: inline-block;
  content: "";
  border-top: 1px solid;
  width: 95px;
  transform: translate(0, -6px);
}

.wrap {
  width: 83%;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  margin-top: 68px;
  margin-left: 7%;
  position: absolute;
}
@media screen and (max-width: 600px) {
  header {
    width: 93%;
    justify-content: space-between;
  }
}

header h1 {
  font-weight: bold;
  font-size: 38px;
  letter-spacing: 3.8px;
}

header ul {
  display: flex;
  text-align: left;
  margin-top: 9px;
  margin-left: 20px;
  height: 40px;
}
@media screen and (max-width: 600px) {
  header ul {
    display: none;
  }
}
header ul li {
  font-size: 18px;
  height: 18px;
  color: #707070;
  margin-left: 12px;
}
header ul li:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.fa-bars {
  display: none;
  font-size: 38px;
}
@media screen and (max-width: 600px) {
  .fa-bars {
    display: flex;
  }
}

.first-v {
  display: flex;
  align-items: center;
}

.first-v-text {
  margin-top: 55px;
  width: 47%;
  height: 100%;
}

.first-v-wrap {
  width: 53%;
  height: 100%;
}

.blond {
  width: 100%;
}

.first-v h2 {
  font-size: 38px;
  text-align: center;
  font-style: "ヒラギノ明朝 Pro";
}

.first-v p {
  margin-top: 48px;
  font-size: 38px;
  text-align: center;
}

.concept1 {
  height: 407px;
  background-color: #A193861F;
  position: relative;
}

.concept1 .wrap {
  position: absolute;
  top: 256px;
  left: 10%;
}

.concept-img {
  display: flex;
}

.andrew {
  width: 67%;
  margin-right: 11px;
}

.joel {
  width: 39%;
}

.concept2 {
  background-color: #A1938689;
  height: 560px;
  color: white;
  display: flex;
}

.concept2 .wrap {
  display: flex;
  justify-content: space-around;
}

.concept2 h3 {
  font-size: 40px;
  letter-spacing: 16px;
  margin-top: 389px;
}

.concept2 p {
  margin-top: 366px;
  width: 41%;
  height: 130px;
  font-size: 16px;
  letter-spacing: 1.6px;
  overflow: hidden;
}

.menu h4 {
  margin-top: 261px;
  font-size: 18px;
}

.menu-item-wrap {
  display: flex;
  justify-content: space-between;
  margin: 11px 0 70px;
}

.menu .menu-item {
  width: 27%;
}

.menu img {
  width: 100%;
}

.item-name {
  margin-top: 37px;
  text-align: center;
  font-weight: bold;
}

.item-text {
  margin-top: 34px;
}

.item-price {
  margin-top: 34px;
  text-align: right;
}

.access {
  background-color: #A193861F;
  height: 757px;
}

.access .wrap {
  padding-top: 261px;
}

.access-wrap {
  background-color: #D0C5BA;
  display: flex;
  height: 396px;
}

.access-text {
  width: 40%;
  margin-left: 10%;
  margin-top: 101px;
}

.access p {
  font-size: 24px;
  color: #00000038;
}
.access ul {
  margin-top: 30px;
  height: 138px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.access li {
  color: white;
}

.access-map {
  width: 60%;
}
.access-map iframe {
  width: 100%;
  height: 100%;
}

.footer-wrap {
  margin-top: 84px;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
}

.line {
  width: 100%;
  border-bottom: 1px solid #70707036;
  margin-top: 165px;
}

.footer-text {
  color: #7070704D;
  font-size: 32px;
  margin-right: 26px;
}

.reserve {
  color: #707070;
  border: 1px solid #707070;
  font-size: 18px;
}

.fa-twitter {
  margin-right: 9px;
}

/*# sourceMappingURL=main.css.map */
